html, body, #app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color);
}

*, :before, :after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  background-color: transparent;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar {
  width: 6px;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
