/* 媒介查询适配 */
/* 适配768px */
@media screen and (min-width: 768px) {
  .tiger-layout {
    header {
      padding: 0 12px 0 32px;
    }

    .aside {
      width: var(--sidebar-width-small);
    }

    section {
      .tiger-section {
        padding: 48px 32px 42px;
      }
    }
  }
}

/* 适配960px */
@media screen and (min-width: 960px) {
  .tiger-layout {
    .aside {
      top: var(--header-height);
      transform: translate(0);
    }

    .valve {
      display: none;
    }

    section {
      padding-top: var(--header-height);
      padding-left: calc(var(--sidebar-width-sm) + 10px);

      .tiger-section {
        padding: 64px 64px 42px;
      }
    }
  }
}

/* 适配1280px */
@media screen and (min-width: 1280px) {
  .tiger-layout {
    header {
      padding: 0 32px;
    }
  }
}

/* 适配960px至1280px */
@media screen and (min-width: 960px) and (min-width: 1280px) {
  .tiger-layout {
    section {
      padding-left: calc(var(--sidebar-width-small));
    }
  }
}

/* 适配1440px */
@media screen and (min-width: 1440px) {
  .tiger-layout {
    .aside {
      padding: 48px 32px 96px calc((100vw - var(--screen-max-width)) / 2);
      width: calc((100vw - var(--screen-max-width)) / 2 + var(--sidebar-width-small));
    }

    section {
      .tiger-section {
        padding: 64px 0 42px 64px;
        display: flex;

        .tiger-section-container {
          width: var(--section-width)
        }

        .tiger-section-wrapper {
          display: block;
        }
      }
    }
  }
}

/* 适配960px至1440px */
@media screen and (min-width: 960px) and (min-width: 1440px) {
  .tiger-layout {
    section {
      padding-left: calc((100vw - var(--screen-max-width)) / 2 + var(--sidebar-width-small));
    }
  }
}

/* 适配1680px */
@media screen and (min-width: 1680px) {
  .tiger-layout {
    .aside {
      padding: 48px 48px 96px calc((100vw - var(--screen-max-width)) / 2);
      width: calc((100vw - var(--screen-max-width)) / 2 + var(--sidebar-width-small));
    }

    section {
      .tiger-section {
        padding: 64px 0 42px 96px;
        display: flex;

        .tiger-section-wrapper {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tiger-layout {
    .valve {
      padding: 0.75em 24px;
    }
  }
}
